In [9]:
import pandas as pd
import numpy as np
import math

In [10]:
df = pd.read_csv("08 version_occupants.csv")

In [11]:
df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
0,0,1,72.750,62.725,19.800,18.625,15.150,4.650,0.0,0.0,72.750,74.521,0,0.0,0,0.0,10.025
1,1,2,31.250,21.225,1.275,1.250,1.275,0.000,0.0,0.0,31.250,34.274,0,0.0,0,0.0,10.025
2,2,3,54.600,44.575,1.175,1.175,1.175,0.000,0.0,0.0,54.600,83.244,0,0.0,0,0.0,10.025
3,3,4,50.275,40.250,1.175,1.175,1.175,0.000,0.0,0.0,50.275,79.610,0,0.0,0,0.0,10.025
4,4,5,58.650,48.625,1.175,1.175,1.175,0.000,0.0,0.0,58.650,85.929,0,0.0,0,0.0,10.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,1332,1416,60.100,50.075,1.450,1.450,1.450,0.000,0.0,0.0,60.100,80.347,0,0.0,0,0.0,10.025
1333,1333,1417,19.425,9.400,2.550,2.550,0.775,1.775,0.0,0.0,19.425,12.835,0,0.0,0,0.0,10.025
1334,1334,1418,25.425,15.400,1.475,1.475,1.475,0.000,0.0,0.0,25.425,17.984,0,0.0,0,0.0,10.025
1335,1335,1419,119.950,109.925,64.700,63.250,60.975,3.725,0.0,0.0,119.950,63.956,0,0.0,0,0.0,10.025
1336,1336,1420,151.650,141.625,108.425,106.975,104.700,3.725,0.0,0.0,151.650,43.410,0,0.0,0,0.0,10.025

In [14]:
column_data = df['exit time(s)']

In [19]:
column_data_ceil = np.ceil(column_data)

In [21]:
column_data_ceil.max()

inf

In [65]:
time_values = list(range(10, 211, 10))
df1 = pd.DataFrame({'time (s)': time_values})

In [66]:
df1

    time (s)
0         10
1         20
2         30
3         40
4         50
5         60
6         70
7         80
8         90
9        100
10       110
11       120
12       130
13       140
14       150
15       160
16       170
17       180
18       190
19       200
20       210

In [35]:
df['exit time(s)'] = np.ceil(df['exit time(s)'])

In [36]:
df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
0,0,1,73.0,62.725,19.800,18.625,15.150,4.650,0.0,0.0,72.750,74.521,0,0.0,0,0.0,10.025
1,1,2,32.0,21.225,1.275,1.250,1.275,0.000,0.0,0.0,31.250,34.274,0,0.0,0,0.0,10.025
2,2,3,55.0,44.575,1.175,1.175,1.175,0.000,0.0,0.0,54.600,83.244,0,0.0,0,0.0,10.025
3,3,4,51.0,40.250,1.175,1.175,1.175,0.000,0.0,0.0,50.275,79.610,0,0.0,0,0.0,10.025
4,4,5,59.0,48.625,1.175,1.175,1.175,0.000,0.0,0.0,58.650,85.929,0,0.0,0,0.0,10.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,1332,1416,61.0,50.075,1.450,1.450,1.450,0.000,0.0,0.0,60.100,80.347,0,0.0,0,0.0,10.025
1333,1333,1417,20.0,9.400,2.550,2.550,0.775,1.775,0.0,0.0,19.425,12.835,0,0.0,0,0.0,10.025
1334,1334,1418,26.0,15.400,1.475,1.475,1.475,0.000,0.0,0.0,25.425,17.984,0,0.0,0,0.0,10.025
1335,1335,1419,120.0,109.925,64.700,63.250,60.975,3.725,0.0,0.0,119.950,63.956,0,0.0,0,0.0,10.025
1336,1336,1420,152.0,141.625,108.425,106.975,104.700,3.725,0.0,0.0,151.650,43.410,0,0.0,0,0.0,10.025

In [39]:
df.loc[1, 'exit time(s)'] == 32

True

In [41]:
for i in range(df['name'].max()):

1420

In [47]:
female_df = df[df['name'] < 501]

In [48]:
female_df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
0,0,1,73.0,62.725,19.800,18.625,15.150,4.65,0.0,0.0,72.750,74.521,0,0.0,0,0.0,10.025
1,1,2,32.0,21.225,1.275,1.250,1.275,0.00,0.0,0.0,31.250,34.274,0,0.0,0,0.0,10.025
2,2,3,55.0,44.575,1.175,1.175,1.175,0.00,0.0,0.0,54.600,83.244,0,0.0,0,0.0,10.025
3,3,4,51.0,40.250,1.175,1.175,1.175,0.00,0.0,0.0,50.275,79.610,0,0.0,0,0.0,10.025
4,4,5,59.0,48.625,1.175,1.175,1.175,0.00,0.0,0.0,58.650,85.929,0,0.0,0,0.0,10.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,431,496,42.0,31.000,1.175,1.175,1.175,0.00,0.0,0.0,41.025,57.504,0,0.0,0,0.0,10.025
432,432,497,45.0,34.400,1.175,1.175,1.175,0.00,0.0,0.0,44.425,76.189,0,0.0,0,0.0,10.025
433,433,498,26.0,15.475,1.175,1.175,1.175,0.00,0.0,0.0,25.500,34.355,0,0.0,0,0.0,10.025
434,434,499,43.0,32.275,1.175,1.175,1.175,0.00,0.0,0.0,42.300,60.133,0,0.0,0,0.0,10.025
435,435,500,34.0,23.025,1.175,1.175,1.175,0.00,0.0,0.0,33.050,51.256,0,0.0,0,0.0,10.025

In [53]:
male_df = df[(df['name'] >= 501) & (df['name'] <= 780)]

In [54]:
male_df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
436,436,501,136.0,105.475,47.425,46.400,44.725,2.700,0.0,0.0,135.500,120.015,0,0.0,0,0.0,30.025
437,437,502,155.0,124.700,93.075,92.050,90.425,2.650,0.0,0.0,154.725,50.655,0,0.0,0,0.0,30.025
438,438,503,148.0,117.825,86.200,85.175,83.575,2.625,0.0,0.0,147.850,50.681,0,0.0,0,0.0,30.025
439,439,504,183.0,152.150,92.800,91.775,90.175,2.625,0.0,0.0,182.175,122.959,0,0.0,0,0.0,30.025
440,440,505,206.0,175.675,144.700,143.675,141.950,2.750,0.0,0.0,205.700,50.035,0,0.0,0,0.0,30.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,706,775,42.0,11.500,1.025,1.025,1.025,0.000,0.0,0.0,41.525,29.619,0,0.0,0,0.0,30.025
707,707,776,59.0,28.850,1.025,1.025,1.025,0.000,0.0,0.0,58.875,74.545,0,0.0,0,0.0,30.025
708,708,777,34.0,3.800,1.025,1.025,1.025,0.000,0.0,0.0,33.825,9.833,0,0.0,0,0.0,30.025
709,709,779,39.0,8.600,1.025,1.025,1.025,0.000,0.0,0.0,38.625,22.156,0,0.0,0,0.0,30.025
710,710,780,51.0,20.775,1.025,1.025,1.025,0.000,0.0,0.0,50.800,45.482,0,0.0,0,0.0,30.025

In [55]:
child_df = df[(df['name'] >= 781) & (df['name'] <= 879)]

In [56]:
child_df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
711,711,781,67.0,56.725,1.45,1.45,1.45,0.0,0.0,0.0,66.750,90.437,0,0.0,0,0.0,10.025
712,712,782,59.0,48.425,1.45,1.45,1.45,0.0,0.0,0.0,58.450,74.637,0,0.0,0,0.0,10.025
713,713,783,64.0,53.675,1.45,1.45,1.45,0.0,0.0,0.0,63.700,83.988,0,0.0,0,0.0,10.025
714,714,784,48.0,37.200,1.45,1.45,1.45,0.0,0.0,0.0,47.225,55.745,0,0.0,0,0.0,10.025
715,715,785,42.0,31.700,1.45,1.45,1.45,0.0,0.0,0.0,41.725,46.615,0,0.0,0,0.0,10.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,803,875,40.0,29.550,1.45,1.45,1.45,0.0,0.0,0.0,39.575,52.948,0,0.0,0,0.0,10.025
804,804,876,46.0,35.025,1.45,1.45,1.45,0.0,0.0,0.0,45.050,52.308,0,0.0,0,0.0,10.025
805,805,877,15.0,4.525,1.45,1.45,1.45,0.0,0.0,0.0,14.550,8.103,0,0.0,0,0.0,10.025
806,806,878,45.0,34.825,1.45,1.45,1.45,0.0,0.0,0.0,44.850,51.875,0,0.0,0,0.0,10.025
807,807,879,20.0,9.775,1.45,1.45,1.45,0.0,0.0,0.0,19.800,17.473,0,0.0,0,0.0,10.025

In [57]:
shopkeeper_df = df[(df['name'] >= 881) & (df['name'] <= 1280)]

In [58]:
shopkeeper_df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
808,808,881,58.0,7.150,1.025,1.025,1.025,0.000,0.0,0.0,57.175,17.100,0,0.0,0,0.0,50.025
809,809,883,62.0,11.875,1.025,1.025,1.025,0.000,0.0,0.0,61.900,30.574,0,0.0,0,0.0,50.025
810,810,884,64.0,13.575,1.025,1.025,1.025,0.000,0.0,0.0,63.600,34.550,0,0.0,0,0.0,50.025
811,811,885,72.0,21.625,1.025,1.025,1.025,0.000,0.0,0.0,71.650,49.799,0,0.0,0,0.0,50.025
812,812,886,81.0,30.475,1.025,1.025,1.025,0.000,0.0,0.0,80.500,78.311,0,0.0,0,0.0,50.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,1276,209.0,158.400,128.150,127.125,122.675,5.475,0.0,0.0,208.425,55.058,0,0.0,0,0.0,50.025
1196,1196,1277,208.0,157.050,125.425,124.400,119.950,5.475,0.0,0.0,207.075,58.696,0,0.0,0,0.0,50.025
1197,1197,1278,172.0,121.175,80.500,79.475,76.575,3.925,0.0,0.0,171.200,76.237,0,0.0,0,0.0,50.025
1198,1198,1279,150.0,99.400,38.050,37.025,35.150,2.900,0.0,0.0,149.425,128.239,0,0.0,0,0.0,50.025
1199,1199,1280,127.0,76.000,16.025,15.000,13.275,2.750,0.0,0.0,126.025,125.034,0,0.0,0,0.0,50.025

In [59]:
elder_df = df[(df['name'] >= 1281) & (df['name'] <= 1420)]

In [60]:
elder_df

,id,name,exit time(s),active time(s),congestion time total(s),congestion time max continuous(s),level congestion time,stair congestion time,ramp congestion time,start time(s),finish time(s),distance (m),num triggers used,trigger time(s),num occ targets used,occ target time(s),last_goal_started time(s)
1200,1200,1281,47.0,36.625,1.450,1.450,1.450,0.000,0.0,0.0,46.650,65.442,0,0.0,0,0.0,10.025
1201,1201,1282,37.0,26.225,1.450,1.450,1.450,0.000,0.0,0.0,36.250,46.847,0,0.0,0,0.0,10.025
1202,1202,1283,45.0,34.600,1.450,1.450,1.450,0.000,0.0,0.0,44.625,51.569,0,0.0,0,0.0,10.025
1203,1203,1284,30.0,19.850,1.450,1.450,1.450,0.000,0.0,0.0,29.875,35.259,0,0.0,0,0.0,10.025
1204,1204,1285,42.0,31.100,1.450,1.450,1.450,0.000,0.0,0.0,41.125,55.931,0,0.0,0,0.0,10.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,1332,1416,61.0,50.075,1.450,1.450,1.450,0.000,0.0,0.0,60.100,80.347,0,0.0,0,0.0,10.025
1333,1333,1417,20.0,9.400,2.550,2.550,0.775,1.775,0.0,0.0,19.425,12.835,0,0.0,0,0.0,10.025
1334,1334,1418,26.0,15.400,1.475,1.475,1.475,0.000,0.0,0.0,25.425,17.984,0,0.0,0,0.0,10.025
1335,1335,1419,120.0,109.925,64.700,63.250,60.975,3.725,0.0,0.0,119.950,63.956,0,0.0,0,0.0,10.025
1336,1336,1420,152.0,141.625,108.425,106.975,104.700,3.725,0.0,0.0,151.650,43.410,0,0.0,0,0.0,10.025

In [78]:
female = []
male = []
child = []
shopkeeper = []
elder = []
for i in range(21):
    x = ((female_df['exit time(s)'] > i*10) & (female_df['exit time(s)'] <= (i+1)*10)).sum()
    y = ((male_df['exit time(s)'] > i*10) & (male_df['exit time(s)'] <= (i+1)*10)).sum()
    z = ((child_df['exit time(s)'] > i*10) & (child_df['exit time(s)'] <= (i+1)*10)).sum()
    a = ((shopkeeper_df['exit time(s)'] > i*10) & (shopkeeper_df['exit time(s)'] <= (i+1)*10)).sum()
    b = ((elder_df['exit time(s)'] > i*10) & (elder_df['exit time(s)'] <= (i+1)*10)).sum()
    female.append(x)
    male.append(y)
    child.append(z)
    shopkeeper.append(a)
    elder.append(b)

In [79]:
df1['Female'] = female
df1['Male'] = male
df1['Child'] = child
df1['Shopkeeper'] = shopkeeper
df1['Elder'] = elder

In [80]:
df1

    time (s)  Female  Male  Child  Shopkeeper  Elder
0         10       0     0      0           0      0
1         20      58     0     12           0     15
2         30     175     0     19           0     50
3         40      96    51     33           0     40
4         50      30   103     21           0     15
5         60      19    37      9          72      1
6         70      11     4      2         159      1
7         80      17     5      0          59      0
8         90      14     5      1           2      0
9        100      14     1      0           5      0
10       110       0     5      0          12      3
11       120       0     7      0          10      2
12       130       0     8      0           9      2
13       140       0     7      0          13      1
14       150       0     4      0          10      1
15       160       0     8      0           5      1
16       170       0     6      0           8      1
17       180       0     5      0           8      1
18       190       0     8      0           6      1
19       200       0     6      0           7      1
20       210       0     3      0           6      1

In [81]:
df1.to_csv('output_file.csv', index=False)